<aside class="main-sidebar dark">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <li>
                <a asp-area="Admin" asp-controller="Home" asp-action="Index">
                    <i class="fa fa fa-dashboard"></i> <span>داشبرد</span>
                </a>
            </li>
            <li>
                <a href="~/admin/category">
                    <i class="fa fa-th"></i> <span>مدیریت دسته بندی ها</span>
                </a>
            </li>
            <li>
                <a href="~/admin/Product">
                    <i class="fa fa-laptop"></i> <span>مدیریت محصولات </span>
                </a>
            </li>
            <li>
                <a href="~/admin/Order">
                    <i class="fa fa-truck"></i> <span>مدیریت سفارشات</span>
                </a>
            </li>
            <li>
                <a href="~/admin/RequestPay">
                    <i class="fa fa-credit-card"></i> <span>مدیریت درخواست خرید ها</span>
                </a>
            </li>
            <li>
                <a href="~/admin/Comment">
                    <i class="fa fa-comment"></i> <span>مدیریت نظرات کاربران</span>
                </a>
            </li>
            <li>
                <a href="~/admin/User">
                    <i class="fa fa-id-badge"></i> <span>مدیریت کاربران</span>
                </a>
            </li>
            <li>
                <a href="~/admin/Slider">
                    <i class="fa fa-sliders"></i> <span>مدیریت اسلایدر</span>
                </a>
            </li>
            <li>
                <a href="~/admin/SliderPoster">
                    <i class="fa fa-edit"></i> <span>مدیریت اسلایدر_پوستر</span>
                </a>
            </li>
            <li>
                <a href="~/admin/PaymentSetting">
                    <i class="fa fa-credit-card"></i> <span>مدیریت درگاه</span>
                </a>
            </li>
        </ul>
    </section>
</aside>