<div class="col-lg-3 col-md-3 col-xs-12 pr">
    <div class="sidebar-profile sidebar-navigation">
        <section class="profile-box">
            <header class="profile-box-header-inline">
                <div class="profile-avatar user-avatar profile-img">
                    <img src="~/assets/images/man.png">
                </div>
            </header>
            <footer class="profile-box-content-footer">
                <div class="profile-box-tabs">
                    <a asp-controller="Authorize" asp-action="Signout" class="profile-box-tab-sign-out">
                        <i class="mdi mdi-logout-variant"></i>خروج از حساب
                    </a>
                </div>
            </footer>
        </section>
        <section class="profile-box">
            <ul class="profile-account-navs">
                <li class="profile-account-nav-item navigation-link-dashboard">
                    <a href="~/UserPanel" class="">
                        <i class="mdi mdi-account-outline"></i>
                        پروفایل
                    </a>
                </li>
                <li class="profile-account-nav-item navigation-link-dashboard">
                    <a href="~/UserPanel/Orders" class="">
                        <i class="mdi mdi-cart"></i>
                        سفارش ها
                    </a>
                </li>
                <li class="profile-account-nav-item navigation-link-dashboard">
                    <a href="~/UserPanel/Addresses" class="">
                        <i class="mdi mdi-map-outline"></i>
                        آدرس
                    </a>
                </li>
            </ul>
        </section>
    </div>
</div>