@{
    ViewData["selected"] = "Index";
}

<section class="content-header">
    <h1>
        صفحه خالی
        <small>آماده برای پروژه شما</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Admin"><i class="fa fa-dashboard"></i> خانه</a></li>
    </ol>
</section>
<section class="content">
</section>