<div class="container-main">
    <div class="col-12">
        <div id="content">
            <div class="d-404">
                <div class="d-404-title">
                    <h1>به حساب کاربر خود وارد شوید یا یک حساب کاربری بسازید</h1>
                </div>
                <div class="d-404-actions">
                    <a href="~/Index" class="d-404-action-primary">صفحه اصلی</a>
                </div>
                <div class="d-404-image">
                    <img src="~/assets/images/401.png">
                </div>
            </div>
        </div>
    </div>
</div>