@page
@model WebApplication.Pages.Authorize.SigninModel
@{
    Layout = "../Shared/_LoginLayout";
}

<div class="container">
    <div class="row">
        <div class="col-lg">
            <section class="page-account-box">
                <div class="col-lg-6 col-md-6 col-xs-12 mx-auto">
                    <div class="ds-userlogin">
                        <div class="account-box">
                            <div class="account-box-headline">
                                <a href="~/authorize/Signin" class="login-ds active">
                                    <span class="title">ورود</span>
                                    <span class="sub-title">به فروشگاه لپ تاپ پرهیزگار</span>
                                </a>
                                <a href="~/authorize/Signup" class="register-ds">
                                    <span class="title">ثبت نام</span>
                                    <span class="sub-title">در فروشگاه لپ تاپ پرهیزگار </span>
                                </a>
                            </div>
                            <div class="Login-to-account mt-4">
                                <div class="account-box-content">
                                    <h4>ورود به حساب کاربری</h4>
                                    <form action="" method="post" class="form-account text-right">
                                        <div class="form-account-title">
                                            <label for="UserName">نام کاربری</label>
                                            <input type="text" asp-for="UserName" class="number-email-input" id="email-phone">
                                        </div>
                                        <div class="form-account-title">
                                            <label for="password">رمز عبور</label>
                                            <input type="password" asp-for="Password" class="number-email-input" id="email-phone">
                                            @*<span asp-validation-for="UserName" style="color: red"></span>*@
                                            <a href="~/authorize/CheckUser" class="account-link-password">رمز خود را فراموش کردم</a>
                                        </div>
                                        <div class="form-row-account">
                                            <button class="btn btn-primary btn-login">ورود در فروشگاه لپ تاپ پرهیزگار </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>