@page "{handler?}"
@using Common.Application.FileUtil
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    var SpecialProduct = Model?.MainPageData.SpecialProducts.Where(r => r.Id != 0);
    var AdminSuggestion = Model?.MainPageData.AdminSuggestion.Where(r => r.Id != 0);
    var DiscountedPrice = Model?.MainPageData.DiscountedPrice.Where(r => r.Id != 0);
    var BigTable = Model?.MainPageData.BigTable.Where(r => r.Id != 0);

    // var BigPoster = Model.SliderPosters.OrderByDescending(T => T.CreationDate)
    //         .Where(p => p.ImageLocationDto == Domain.Sliders.ImageLocation.BigPoster)?.FirstOrDefault();

    // var CenterPoster = Model.SliderPosters.OrderByDescending(T => T.CreationDate)
    //         .Where(p => p.ImageLocationDto == Domain.Sliders.ImageLocation.CenterPoster)?.FirstOrDefault();

    // var SmallPoster = Model.SliderPosters
    //         .Where(p => p.ImageLocationDto == Domain.Sliders.ImageLocation.SmallPoster)?.ToList();

    int _sliderCount = 1;
}

<!--Top header-------------------------------->
<partial name="partial/_topHeader" />

<!-- header-------------------------------->
<partial name="partial/_header" model="Model?.Categories"/>

<!-- adplacement------------------------------->
<div class="container-main">

<partial name="partial/_slider" />

<partial name="partial/_sliderPoster" />
</div>

<!-- slider-product-------------------------------->
<div class="col-lg-12 col-md-12 col-xs-12 pr order-1 d-block">
    <div class="slider-widget-products slider-content-tabs">
        <div class="widget widget-product card slider-content-tabs">
            <header class="card-header header-product">
                <span class="title-one">لوازم خانگی</span>
                <h3 class="card-title"></h3>
            </header>
            <div class="product-carousel owl-carousel owl-theme owl-rtl owl-loaded owl-drag">
                <div class="owl-stage-outer">
                    <div class="owl-stage"
                         style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2234px;">
                        <div class="owl-item active tab-item" style="width: 309.083px; margin-left: 10px;">
                            <div class="item">
                                <a href="#" class="d-block hover-img-link" data-toggle="modal"
                                   data-target="#exampleModal">
                                    <img src="~/assets/images/slider-product/Stove-lopez.jpg" class="img-fluid" alt="">
                                </a>
                                <h2 class="post-title">
                                    <a href="#">
                                        اجاق گاز طرح فر لوپز مدل 10000S
                                    </a>
                                </h2>
                                <div class="price">
                                    <del><span>۱۲,۰۰۰,۰۰۰<span>تومان</span></span></del>
                                    <ins><span>۱۰,۵۰۰,۰۰۰<span>تومان</span></span></ins>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="section-slider amazing-section pt-3">
    <div class="container-amazing col-12">
        <div class="col-lg-3 display-md-none pull-right">
            <div class="amazing-product text-center">
                <a href="#">
                    <img src="~/assets/images/slider-amazing/shopping-cart.svg" alt="">
                </a>
                <h3 class="amazing-heading-title amazing-size-default">محصولات شگفت انگیز</h3>
                <a href="#" class="view-all-amazing-btn">
                    مشاهده همه
                    <i class="uil uil-angle-left"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-9 col-md-12 pull-left">
            <div class="slider-widget-products mb-0">
                <div class="widget widget-product card">
                    <header class="card-header">
                        <span class="title-one">محصولات شگفت انگیز</span>
                        <h3 class="card-title">مشاهده همه</h3>
                    </header>
                    <div class="product-carousel owl-carousel owl-theme owl-rtl owl-loaded owl-drag">
                        <div class="owl-stage-outer">
                            <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2234px;">
                                <div class="owl-item active" style="width: 309.083px; margin-left: 10px;">
                                    <div class="item">
                                        <a href="#" class="d-block hover-img-link" data-toggle="modal"
                                           data-target="#exampleModal">
                                            <img src="~/assets/images/slider-product/Stove-lopez.jpg" class="img-fluid" alt="">
                                        </a>
                                        <h2 class="post-title pt-4">
                                            <a href="#">
                                                اجاق گاز طرح فر لوپز مدل 10000S
                                            </a>
                                        </h2>
                                        <div class="price">
                                            <del><span>۱۲,۰۰۰,۰۰۰<span>تومان</span></span></del>
                                            <ins><span>۱۰,۵۰۰,۰۰۰<span>تومان</span></span></ins>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Mobile Phone Ads--------------------------------->
<aside class="main-row-bg d-block d-md-block">
    <div class="bg-cover"></div>
    <div class="container-main">
        <div class="d-block">
            <section class="content-title section-title mt-5">
                <div class="align-items-center">
                    <div class="col-auto">
                        <div class="title">
                            <h2>جدید ترین های لپ تاپ</h2>
                        </div>
                        <div class="subtitle">
                            <span>آخرین محصولات</span>
                        </div>
                    </div>
                </div>
            </section>
            <div class="mb-3">
                <div class="col-lg-4 col-md-6 col-sm-12 col-12 pt-4 pr">
                    <div class="card-product-horizontal">
                        <div class="card-product-horizontal-img">
                            <a href="#" class="d-block">
                                <img src="~/assets/images/slider-product/asus-laptop.jpg">
                            </a>
                        </div>
                        <div class="card-product-horizontal-content">
                            <div class="card-product-horizontal-content-title">
                                <a href="#">
                                    <h3>لپ تاپ ایسوس زِنبوک 14</h3>
                                </a>
                            </div>
                            <div class="card-product-horizontal-content-price">
                                <span class="amount">
                                    ۴,۲۰۰,۰۰۰
                                    <span>تومان</span>
                                </span>
                            </div>
                            <div class="card-product-horizontal-content-rate">
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12 pt-4 pr">
                    <div class="card-product-horizontal">
                        <div class="card-product-horizontal-img">
                            <a href="#" class="d-block">
                                <img src="~/assets/images/slider-product/mitbook.jpg">
                            </a>
                        </div>
                        <div class="card-product-horizontal-content">
                            <div class="card-product-horizontal-content-title">
                                <a href="#">
                                    <h3>هواوای میت بوک X پرو 13.9 اینچ</h3>
                                </a>
                            </div>
                            <div class="card-product-horizontal-content-price">
                                <span class="amount">
                                    ۴,۲۰۰,۰۰۰
                                    <span>تومان</span>
                                </span>
                            </div>
                            <div class="card-product-horizontal-content-rate">
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12 pt-4 pr">
                    <div class="card-product-horizontal">
                        <div class="card-product-horizontal-img">
                            <a href="#" class="d-block">
                                <img src="~/assets/images/slider-product/SL1200_-300x300.jpg">
                            </a>
                        </div>
                        <div class="card-product-horizontal-content">
                            <div class="card-product-horizontal-content-title">
                                <a href="#">
                                    <h3>لپ تاپ چووی الترابوک 14 اینچ پرو</h3>
                                </a>
                            </div>
                            <div class="card-product-horizontal-content-price">
                                <span class="amount">
                                    ۴,۲۰۰,۰۰۰
                                    <span>تومان</span>
                                </span>
                            </div>
                            <div class="card-product-horizontal-content-rate">
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12 pt-4 pr">
                    <div class="card-product-horizontal">
                        <div class="card-product-horizontal-img">
                            <a href="#" class="d-block">
                                <img src="~/assets/images/slider-product/mitbook.jpg">
                            </a>
                        </div>
                        <div class="card-product-horizontal-content">
                            <div class="card-product-horizontal-content-title">
                                <a href="#">
                                    <h3>هواوای میت بوک X پرو 13.9 اینچ</h3>
                                </a>
                            </div>
                            <div class="card-product-horizontal-content-price">
                                <span class="amount">
                                    ۴,۲۰۰,۰۰۰
                                    <span>تومان</span>
                                </span>
                            </div>
                            <div class="card-product-horizontal-content-rate">
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12 pt-4 pr">
                    <div class="card-product-horizontal">
                        <div class="card-product-horizontal-img">
                            <a href="#" class="d-block">
                                <img src="~/assets/images/slider-product/SL1200_-300x300.jpg">
                            </a>
                        </div>
                        <div class="card-product-horizontal-content">
                            <div class="card-product-horizontal-content-title">
                                <a href="#">
                                    <h3>لپ تاپ چووی الترابوک 14 اینچ پرو</h3>
                                </a>
                            </div>
                            <div class="card-product-horizontal-content-price">
                                <span class="amount">
                                    ۴,۲۰۰,۰۰۰
                                    <span>تومان</span>
                                </span>
                            </div>
                            <div class="card-product-horizontal-content-rate">
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12 pt-4 pr">
                    <div class="card-product-horizontal">
                        <div class="card-product-horizontal-img">
                            <a href="#" class="d-block">
                                <img src="~/assets/images/slider-product/asus-laptop.jpg">
                            </a>
                        </div>
                        <div class="card-product-horizontal-content">
                            <div class="card-product-horizontal-content-title">
                                <a href="#">
                                    <h3>لپ تاپ ایسوس زِنبوک 14</h3>
                                </a>
                            </div>
                            <div class="card-product-horizontal-content-price">
                                <span class="amount">
                                    ۴,۲۰۰,۰۰۰
                                    <span>تومان</span>
                                </span>
                            </div>
                            <div class="card-product-horizontal-content-rate">
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12 pt-4 pr">
                    <div class="card-product-horizontal">
                        <div class="card-product-horizontal-img">
                            <a href="#" class="d-block">
                                <img src="~/assets/images/slider-product/asus-laptop.jpg">
                            </a>
                        </div>
                        <div class="card-product-horizontal-content">
                            <div class="card-product-horizontal-content-title">
                                <a href="#">
                                    <h3>لپ تاپ ایسوس زِنبوک 14</h3>
                                </a>
                            </div>
                            <div class="card-product-horizontal-content-price">
                                <span class="amount">
                                    ۴,۲۰۰,۰۰۰
                                    <span>تومان</span>
                                </span>
                            </div>
                            <div class="card-product-horizontal-content-rate">
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12 pt-4 pr">
                    <div class="card-product-horizontal">
                        <div class="card-product-horizontal-img">
                            <a href="#" class="d-block">
                                <img src="~/assets/images/slider-product/mitbook.jpg">
                            </a>
                        </div>
                        <div class="card-product-horizontal-content">
                            <div class="card-product-horizontal-content-title">
                                <a href="#">
                                    <h3>هواوای میت بوک X پرو 13.9 اینچ</h3>
                                </a>
                            </div>
                            <div class="card-product-horizontal-content-price">
                                <span class="amount">
                                    ۴,۲۰۰,۰۰۰
                                    <span>تومان</span>
                                </span>
                            </div>
                            <div class="card-product-horizontal-content-rate">
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12 pt-4 pr">
                    <div class="card-product-horizontal">
                        <div class="card-product-horizontal-img">
                            <a href="#" class="d-block">
                                <img src="~/assets/images/slider-product/SL1200_-300x300.jpg">
                            </a>
                        </div>
                        <div class="card-product-horizontal-content">
                            <div class="card-product-horizontal-content-title">
                                <a href="#">
                                    <h3>لپ تاپ چووی الترابوک 14 اینچ پرو</h3>
                                </a>
                            </div>
                            <div class="card-product-horizontal-content-price">
                                <span class="amount">
                                    ۴,۲۰۰,۰۰۰
                                    <span>تومان</span>
                                </span>
                            </div>
                            <div class="card-product-horizontal-content-rate">
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>