@page
@model WebApplication.Pages.RepairsModel
@{
}

<div class="container-main">
    <div class="col-12">
        <div id="content">
            <div class="about">
                <div class="about-us-head">
                    <div class="about-us-head-inner">
                        <h1>تعمیرات</h1>
                        <div class="about-us-head-content mt-4 text-right">
                            <p>
                                بخش تعمیرات ما توسط مجرب ترین مهندسین تعمیرات و بهترین دستگاههای ممکن صورت میگیرد. تعمیرات شامل تعمیرات تخصصی انواع لپتاپ، انواع وسایل و بوردهای الکترونیکی و ... است
                            </p>
                            <p>
                                با شماره های زیر در تماس باشید
                                <br />
                                09180548096 عبدالله پرهیزگار
                                <br />
                                09186865735 سالار رضایی
                                <br />
                                08346528538 تلفن ثابت
                            </p>
                            <br />
                            <p>
                                لوازم تعمیری خود را به آدرس زیر پست کنید
                            </p>
                            <p>
                                استان کرمانشاه - شهرستان روانسر - خیابان اصلی - پاساژ محمودی طبقه دوم فروشگاه لپ تاپ پرهیزگار
                            </p>
                            <p>
                                کد پستی : 6796147011
                            </p>
                            <br />
                            <br />
                            <a href="~/ContactUs" style="color: black">برای تماس با ما اینجا کلیک کنید</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>